/* write your css here */
@tailwind base;
@tailwind components;
@tailwind utilities;

.inputStyle {
  @apply rounded-md border-2 border-black px-2 text-[16px] leading-[24px]  shadow-[0_1px_0_0] shadow-white/50 placeholder:text-richblack-400 focus:outline-none;
}
.labelStyle {
  @apply text-[14px] text-richblack-5;
}

.w-color-compact {
  background-color: #323232 !important;
}
input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

/* For WebKit browsers */

/* For Firefox */
* {
  scrollbar-width: thin; /* Width of the scrollbar */
}
